<phpunit bootstrap="src/autoload.php">
    <testsuites>
        <testsuite name="money">
            <file>tests/test1.php</file>
            <file>tests/test2.php</file>
            <file>tests/test3.php</file>
            <file>tests/test4.php</file>
            <file>tests/test5.php</file>
        </testsuite>
    </testsuites>
</phpunit>
